<launch>
  <!-- Arguments -->
  <arg name="map_file" default="$(find chick_navigation)/maps/map.yaml"/>
  <arg name="pub_imu"       default="False" />
  <arg name="sub_ackermann"       default="False" />
  <arg name="planner"  default="teb" doc="opt: dwa, teb"/> 

  <!-- open lidar -->
  <include file="$(find chick_navigation)/launch/lidar.launch">
  </include>

   <!--open base_control-->
  <include file="$(find base_control)/launch/base_control.launch">
    <arg name="pub_imu"            value="$(arg pub_imu)"/>  
    <arg name="sub_ackermann"            value="$(arg sub_ackermann)"/>  
    </include>

  <!-- open Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)">
    <param name="frame_id" value="map"/>
    </node>

    <!-- open AMCL -->
    <node pkg="amcl" type="amcl" name="amcl" output="screen">
      <rosparam file="$(find chick_navigation)/param/$(env BASE_TYPE)/amcl_params.yaml" command="load" />
      <param name="initial_pose_x"            value="0.0"/>
      <param name="initial_pose_y"            value="0.0"/>
      <param name="initial_pose_a"            value="0.0"/>
    </node>

  <!-- open local_planner -->
  <include file="$(find chick_navigation)/launch/local_planner.launch" >
    <arg name="planner"            value="$(arg planner)"/>
  </include>
</launch>